

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



/*-------------start CSS-------------*/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('font/LeagueGothic/League_Gothic-webfont.eot');
    src: url('font/LeagueGothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LeagueGothic/League_Gothic-webfont.woff') format('woff'),
         url('font/LeagueGothic/League_Gothic-webfont.ttf') format('truetype'),
         url('font/LeagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	width:100%;
	margin:0 auto;
	max-width:960px;
	font-family:Georgia;
	font-size:1em;
	line-height:1.25em;
	overflow-x:hidden;
	}

.logoType{
	position:relative;
	top:30px;
	left:50px;
	width:100%;
	padding:0  0 20px 0;
}

.logoType a{
	font-family:'Enriqueta', Georgia, serif;
	color:black;
	font-size: 1.80em;
	text-decoration:none;
	font-weight:900;
}

/* ===== mainNav ===== */

#headerWrapper{
	background-color:white;
}

header{
	width:100%;
	position:fixed;
	left:10%;
	background-color:white;
	z-index:1;
}

#mainNav{
	position:relative;
	top:2px;
	left:30px;
	font-family: 'Abel', Helvetica, sans-serif;
	font-size:1em;
}

header #mainNav ul li{
	float:left;
	padding: 20px 20px;
}

header #mainNav ul li a{
	text-decoration:none;
	color:black;
}

header #mainNav ul li a:hover{
	color:red;
}

/* ===== content ===== */



#contentWrapper{
	position: relative;
	top: 100px;
	left: 23%;
}

#hello{
	height:100%;
	max-width:70%;
	font-size:3.10em;
	padding: 90px 20px 600px 0px;
	line-height:1.25em;
	font-weight:bold;
	font-family:'Enriqueta', Georgia, serif;
}

#highlighter{
background-color:yellow;
line-height:1.50em;
}

h2{
	font-family:'Enriqueta', Helvetica, sans-serif;
	font-size:1.25em;
	text-transform:uppercase;
	letter-spacing:1px;
	padding: 20px 0;
}

#about{
/*background-color:#4BBC35; green*/
/*background-color:#E34120;*/
	height:100%;
	max-width: 70%;
	padding: 140px 0 600px 0;
}

.quote{
	line-height:1.25em;
	padding:40px;
	font-family: 'Abel';
	font-size:2.5em;
}

#work{
	height:100%;
	max-width: 65%;
	padding: 140px 0 600px 0;
}

#worksList{
	height:100%;
	max-width: 100%;
}

#worksList ul {
	padding-bottom:500px;
}

#worksList ul li img{
	width:70%;
	padding-bottom:10px;
	border-bottom: 6px solid #393939;
}

#worksList ul li img:hover{
	border-bottom: 6px solid yellow;
}

#worksList ul li{
	float:left;
	padding:10px 2px;
	width:150px;
}

.project{
	padding-bottom:30px;
	border: 1px solid light-grey;
	padding-top:110px;
}

.projBlurb{
	padding: 20px 0 3px 0;
	font-family:Georgia;
	font-size:.89em;
}

.top{
	font-family:'Abel';
	padding: 15px 0;
	font-size:1em;
	text-decoration:none;
	color:black;
}

.top a{
	text-decoration:none;
	color:black;
}

.top a:hover{
	text-decoration:none;
	color:red;
}

h3{
	font-family:'Enriqueta', Helvetica, sans-serif;
	font-size:1em;
	padding: 10px 0 10px 0;
}

#contact{
	height:100%;
	max-width: 70%;
	padding: 140px 0 600px 0;
}

#footer{
	clear:both;
	float:left;
	max-width: 70%;
	padding: 20px 0px;
	font-family: 'Abel';
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:.9em
}

.designCopyright{
	background-color:red;
}


/*============ @media =============*/


@media screen and (max-width: 720px){

body{
	font-size:.95em;
}

.logoType{
	left:20px;
}

.logoType a{
	font-size:150%;
	}
	
#contentWrapper{
	left: 13.5%;
}

#mainNav{
	left:3px;
	font-size:1em;
}

#hello{
	height:100%;
	max-width:70%;
	font-size:220%;
	padding: 60px 20px 600px 20px;
	line-height:.9em;
	font-weight:bold;
}

#highlighter{
background-color:yellow;
line-height:1.5em;
}

.quote{
	line-height:1.10em;
	padding:40px;
	font-family: 'Abel';
	font-size:1.9em;
}

h2{
	font-size:100%;
	padding: 10px 0;
}

#work{
	height:100%;
	max-width: 80%;
}

}


@media screen and (max-width: 480px){

#hello{
	height:100%;
	max-width:70%;
	font-size:180%;
	padding: 60px 20px 600px 0px;
	line-height:.7em;
	font-weight:bold;
}

}